body {
  font-size: 16px;
  color: #000;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

/** HEADER **/

#header-nav {
  background-color: #808080;
  border-radius: 0;
  border: 0;
}
.navbar-brand h1 { /* Restaurant name */
  color: #000;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  height: 0; 
}
#nav-list {
  margin-top: 0px;
  margin-bottom: 0px;
}
#nav-list a {
  text-align: center;
  border: .5px solid;
}
#nav-list a:hover {
  background: #fff;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/* END HEADER */


/* PAGE */

h1 {
  font-weight: bolder;
}
#main-content {
  position: relative;
}
h3 {
  font-color:#2F4F4F;
}
#chicken, #sushi, #beef{
  background-color: #D3D3D3;
  margin: 10px 5px;
  border: 1px solid;
  padding: 10px;
}

/* END PAGE */

/********** Desktop Large devices only **********/
@media (min-width: @screen-lg-min)  {
 }

 /********** Desktop Medium devices only **********/
@media (min-width: @screen-md-min)  {
 }

/********** Tablet Small devices only **********/
@media (min-width: @screen-sm-min) {
  }

/********** Mobile Extra small devices only **********/
@media (max-width: @screen-xs-min) {
  /* Header */
 
  .navbar-brand h1 { /* Restaurant name */   
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: white;
    color: #951c49;
  }
}

